

/*
****************************************
NAVBAR
****************************************
*/
nav {
  border-bottom: black solid 1px;
}

/*
****************************************
JUMBOTRON
****************************************
*/
header {
  min-height: 100vh;
}

.jumbotron {
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  border-bottom: black solid 1px;
}

.jumbotron div {
  padding-top: 50%;
  margin: 0 auto;
}

.jumbotron h1 {
  text-align: center;
}

@media only screen and (min-width: 790px) {
  .jumbotron div{
    padding-top: 30%;
  }
  .jumbotron h1 {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .jumbotron .container {
    max-width: 720px;
  }
}

/*
****************************************
CAROUSEL
****************************************
*/
.carousel {
  margin: 10% auto;
}
.carousel-inner {
  margin: 0 auto;
  width: 80%;
  border: black solid 1px;
  }
.carousel-control-prev-icon{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
.carousel-control-next-icon{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}
.carousel-caption {
  background-color: rgba(0,0,0,0.6);
}
