
hr{
  margin-top: 15%;
  margin-bottom: 15%;
  background-color:black;
}

/*
****************************************
BODY
****************************************
*/
#blog{
  background-image: url(https://media.giphy.com/media/3o85fWdjLYnF5Sf7sk/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

/*
****************************************
NAVBAR
****************************************
*/
nav {
  border-bottom: black solid 1px;
}

.bg-dark {
    background-color: rgba(32, 35, 41, 0.8)!important;
}

/*
****************************************
MAIN CONTAINER
****************************************
*/
@media (max-width: 768px){
  .container {
    max-width: 600px;
  }
}
/*
****************************************
JUMBOTRON
****************************************
*/
header {
  min-height: 100vh;
}

.jumbotron {
  background-image: url(https://media.giphy.com/media/3o85fWdjLYnF5Sf7sk/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  border-bottom: black solid 1px;
}

.jumbotron div {
  padding: 20% 2%;
  margin: 0 auto;
  text-align:center;
  background-color: rgba(0,0,0,0.6);
}

.jumbotron h1{
  padding: 0 3%;
  font-family: 'Patua One', cursive;
  color: grey;
}

.jumbotron button {
  padding: 2% 5%;
  margin-top: 2%
}

.jumbotron a button {
  color:white;
}

.jumbotron span{
  color:white;
}

@media only screen and (min-width: 790px) {
  .jumbotron div{
    padding: 20% 5%;
  }

  .jumbotron button:hover, .jumbotron a:hover {
    color:white;
    text-decoration: none;
  }
}

@media (min-width: 992px) {
  .jumbotron .container {
    max-width: 720px;
  }
}

/*
****************************************
MAIN INTRO
****************************************
*/
#image_aminat{
  max-width: 75%;
  margin-left: 13%;
  border: 0.2px solid lightgrey;
  border-radius: 50%;
}

#intro-info{
  margin: auto 0;
  border-left:1px black solid;
}
.main-image-intro{
  margin-top: 20%;
}



/*
****************************************
CAROUSEL
****************************************
*/
.carousel {
  display:none;
}
.carousel-inner {
  margin: 0 auto;
  border: black solid 1px;
  }
.carousel-control-prev-icon{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
.carousel-control-next-icon{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}
.carousel-caption {
  background-color: rgba(0,0,0,0.6);
  right: 0%;
  bottom: 20px;
  left: 55%;
}

.carousel-indicators {
    bottom: 15px;
    padding-left: 0;
    margin-right: 0%;
    margin-left: 49%;
}


@media (min-width: 992px) {
  .carousel{
    display:block;
  }
  .carousel-inner {
    width: 90%;
  }
}


/*
****************************************
LINK SECTIONS
****************************************
*/
.page_link img {
  max-width: 75%;
}

.img-adjust{
  margin-top: 35%;
  margin-bottom: 10%;
  margin-left: 12%;
}
}

.page_link a{
  font-size: large;
}

.page_link{
  margin-bottom: 15%;
}

.link-descriptions{
  padding:5%;
}
.link-button{
    text-align: right;
    margin-top:5%;
    padding:10%;
}


@media only screen and (min-width: 768px){

.border{
  border:1px black solid!important;
}

/*
****************************************
FOOTER
****************************************
*/
.fa {
  font-size: 30px;
  margin-left: 3%;
}
.secondary-nav{
  list-style-type: none;
}
