

/*
****************************************
NAVBAR
****************************************
*/
nav {
  border-bottom: black solid 1px;
}

/*
****************************************
MAIN CONTAINER
****************************************
*/
@media (max-width: 768px){
  .container {
    max-width: 600px;
  }
}
/*
****************************************
JUMBOTRON
****************************************
*/
header {
  min-height: 100vh;
}

.jumbotron {
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  border-bottom: black solid 1px;
}

.jumbotron div {
  padding-top: 50%;
  margin: 0 auto;
}

.jumbotron h1 {
  text-align: center;
}

.jumbotron p {
  padding-left: 5%;
  padding-right: 5%;
}

@media only screen and (min-width: 790px) {
  .jumbotron div{
    padding-top: 30%;
  }
  .jumbotron h1 {
    text-align: left;
  }
  .jumbotron p {
    padding-left: 0%;
  }
}

@media (min-width: 992px) {
  .jumbotron .container {
    max-width: 720px;
  }
}

/*
****************************************
CAROUSEL
****************************************
*/
.carousel {
  margin-top: 10%;
  margin-bottom: 10%;
}
.carousel-inner {
  margin: 0 auto;
  border: black solid 1px;
  }
.carousel-control-prev-icon{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
.carousel-control-next-icon{
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}
.carousel-caption {
  background-color: rgba(0,0,0,0.6);
}

@media (min-width: 992px) {
  .carousel-inner {
    width: 80%;
  }
}


/*
****************************************
LINK SECTIONS
****************************************
*/
.page_link img {
  max-width: 75%;
}

hr {
  width: 75%;
  border-top: 1px solid black;
  margin-top: 10%;
  margin-bottom: 10%;
}

.img-left, .img-right {
  margin-left: 13%;
}

.description-left, .description-right {
  margin-left: 25%
}

.description-left p, .description-right p {
  padding-right: 30%;
}

.to-hide-sm {
  display: none
}

@media only screen and (min-width: 768px){
  .img-left {
    margin-left: 20%;
  }

  .img-right {
    margin-right: 20%;
    margin-left: 0%;
  }

  .description-right, .description-left {
    padding-top: 7%;
    margin-left: 0%;
  }

  .description-right {
    padding-right: 20%;
  }

  .description-left {
    padding-left: 20%;
  }

  .to-hide-md {
    display: none;
  }

  .to-hide-sm {
    display: block;
  }

  .description-left p, .description-right p {
    padding-right: 0%;
  }
}

/*
****************************************
FOOTER
****************************************
*/
.fa {
  font-size: 30px;
  margin-left: 3%;
}
